<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDErkBZz0moQNyK8kQ4vMgFOt4Ymhqbs1w</string>
	<key>GCM_SENDER_ID</key>
	<string>586022199719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucihackers.stride</string>
	<key>PROJECT_ID</key>
	<string>stride-af1ff</string>
	<key>STORAGE_BUCKET</key>
	<string>stride-af1ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586022199719:ios:51bb1b3858d057c585d682</string>
</dict>
</plist>